[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
freezegun = "*"

[packages]
websocket-client = "*"
pillow = "*"
requests = "*"
pyqrcode = "*"
pypng = "*"
six = "*"
plyer = "*"
colorama = "*"

[requires]
python_version = "3.7"
